<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>topic menu</title>
</head>
<body>
    <ol>
            <li><a href="/topic/add">add</a></li>
            <li><a href="/topic/1/edit">edit</a></li>
        </ol>
</body>
</html>